<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keizou Wang</title>
    <% if(locals.dev){ %><%- include("../scripts/reload") %><% } %>
    <%- include("../styles/fonts") %>
    <%- include("../styles/base") %>
    <%- include("../scripts/setDimensions") %>
</head>
<body>