<%- include("partials/head") %>
<div id="landing">
    <div id="gray"></div>
    <div id="blue"></div>
    <div id="red"></div>
    <div id="yellow"></div>
    <div class="strip" id="horizontal">
        <h2>DAVIDSON ACADEMY</h2>
    </div>
    <div class="strip" id="vertical"></div>
    <div class="strip" id="diagonal">
        <h1>KEIZOU WANG</h1>
    </div>
    <h2 id="coding">CODING</h2>
    <h2 id="philosophy">PHILOSOPHY</h2>
</div>
<%- include("partials/feet") %>